
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>RecordTrac setup</title>
    
    <link rel="stylesheet" type="text/css" href="//cloud.webtype.com/css/944a7551-9b08-4f0a-8767-e0f83db4a16b.css" />
    
    <!-- The light version of the main CFA stylesheet -->
	<link rel="stylesheet" href="{{ style_base }}/style/css/cfa-light.css">
	
	<link rel="stylesheet" href="{{ style_base }}/style/css/layout.css" media="all and (min-width: 40em)">
	
	<!--[if lt IE 9]>
	    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!--[if (lt IE 9)&(gt IE 6)&(!IEMobile)]>
	<link rel="stylesheet" href="../style/css/layout.css" media="all">
	<![endif]-->
	
	<!-- (Optional) A plugin that adds syntax highlighting to code samples -->
	<link href="{{ style_base }}/style/css/prism.css" rel="stylesheet" />
	
	<!-- Link to a 32x32 favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ style_base }}/favicon.ico">
	
	<!-- (Optional) Link to a 60x60 bookmark icon for iOS -->
	<link rel="apple-touch-icon-precomposed" href="{{ style_base }}/style/favicons/60x60/flag-red.png"/>
	
</head>

<body>

	<div class="layout-semibreve">
	
		<header class="heading">
	    	<h1>RecordTrac setup</h1>
	    </header>
	    
	    <div class="layout-minor">
      	
	        <nav role="navigation" class="toc" id="toc">
	        	
	        	<h2>Table of Contents</h2>
	        
		        <ul class="sectlevel1">
		        		<li><a href="#setup">Setup</a></li>
		            <li><a href="#what">What is the dashboard?</a></li>
		            <li><a href="#uses">Suggested uses</a></li>
		            <li><a href="#license">Credits and licensing</a></li>
		        </ul>
		        
		    </nav>

		    <a class="button" href="https://github.com/codeforamerica/display-screen">Fork on Github</a>
	
		</div>
	    
	    <main id="content" class="layout-major">
		
		    <section id="setup">

		        <h2>Setup</h2>
	            <p>Setup is pretty easy, you can do it right from this page. It makes the following assumptions, however:</p>
	            <ul>
	            	<li>You have permission to use, or create, an account with <a href="http://heroku.com">Heroku</a>.</li>
	            </ul>

	            <form action="/prepare-app" method="POST">
               		<h3>1. Create Your Application</h3>
               			<input type="text" name = "AGENCY_NAME"> Agency name </input><br/>
                		<input type="text" name = "DEFAULT_OWNER_EMAIL"> Default point of contact's e-mail </input><br/>
                		<input type="text" name = "DEFAULT_OWNER_REASON"> Default point of contact's title </input><br/>
                		<input type="hidden" name="ENVIRONMENT" value="DEVELOPMENT"/>
                		<input type="hidden" name="DAYS_TO_FULFILL" value="10"/>
                		<input type="hidden" name="DAYS_AFTER_EXTENSION" value="14"/>
                		<input type="hidden" name="DAYS_UNTIL_OVERDUE" value="2"/>
                		<input type="hidden" name="TIMEZONE" value="US/Pacific"/>
                		<!-- <input type="hidden" name="APPLICATION_URL" value="This should be set to Heroku URL returned."/> -->

                    	<div class="alert-info">
                    		<p>
		                        <p><button>Create RecordTrac instance</button></p>
		                        <p class="note">When you click <strong>Create RecordTrac instance</strong>, you'll be taken to <a href="http://heroku.com">heroku.com</a>.  If you have an existing account, simply login as normal. If you don't yet have an account, you'll be asked to create one (for free), and then you'll continue through the automated creation process and be given the URL for your new RecordTrac instance!</p>
		                    </p>
                      	</div>
	            </form>

		    </section>
		    <section id="what">
		        <h2>What is RecordTrac?</h2>
		        <p>RecordTrac is a tool to help agencies manage and display public records requests. You can learn more about the project <a href="https://github.com/codeforamerica/recordtrac#what-is-recordtrac">here</a>.</p>
		    </section>

		    
		    <section id="license">
		    	<h2>License</h2>
		    	
					<p>Copyright (c) 2014, Code for America </p>
					<p>Permission to use, copy, modify, and/or distribute this software for any purpose with or without fee is hereby granted, provided that the above copyright notice and this permission notice appear in all copies.</p>
					<p>THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.</p>

		    </section>
		    			
		</main>
	
	</div>

</body>

<script src="//style.codeforamerica.org/script/prism.js"></script>

</html>
